.response_builder {
  background: rgb(13, 41, 2);
  position: absolute;
  z-index: 99999999;
  border-radius: 25px;
  top: 100px;
  left: 100px;
  color: rgb(20, 19, 16);
  animation-name: slidersuccess;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes slidersuccess {
  from {
    opacity: 1;
    left: 0px;
    background: rgb(30, 187, 43);
    width: 40%;
  }
  100% {
    opacity: 1;
    left: 200px;
    background: rgb(15, 49, 24);
    color: rgb(235, 223, 199);
    width: 40%;
  }
}

.inner_main {
  position: relative;
}

.table {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  font-weight: 600;
  position: relative;
}

.error_builder {
  background: rgb(223, 161, 179);
  position: absolute;
  z-index: 99999999;
  border-radius: 25px;
  top: 100px;
  left: 100px;
  color: rgb(20, 19, 16);
  animation-name: slider;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes slider {
  from {
    opacity: 1;
    left: 0px;
    background: red;
    width: 40%;
  }
  100% {
    opacity: 1;
    left: 200px;
    background: rgb(223, 161, 179);
    color: rgb(36, 34, 30);
    width: 40%;
  }
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.table > div {
  margin: 1px;
  background: powderblue;
  padding: 5px;
}

.table > div:nth-child(3n + 2) {
  background: lemonchiffon;
  width: 10rem;
  word-break: break-all;
}

.table > div:nth-child(3n + 3) {
  background: palegreen;
}
