<div class="product_page">
  <h1>{{ product?.name }}</h1>
  <img class="image_url" [src]="imageUrl" />
  <h2>Price: {{ product?.price }}</h2>

  <p>{{ product?.desc }}</p>

  <button
    class="button"
    [attr.data-item-id]="product?.id"
    [attr.data-item-price]="product?.price"
    [attr.data-item-url]="'product/' + product?.id"
    [attr.data-item-image]="imageUrl"
    [attr.data-item-name]="product?.name"
    (click)="onClickCartButton(product)"
  >
    Add To cart
  </button>
  <select class="custom-select" (change)="chooseQuantity($event)">
    <option value="" disabled>1</option>
    <option *ngFor="let city of City" [ngValue]="city">{{ city }}</option>
  </select>
</div>

<!-- formControlName="quantityName" -->
