.dashvoard_section {
  padding: 1%;
  position: relative;
  overflow: hidden;
  border: 1px solid red;
  /* background-image: url("../../../assets/wb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: black;
}
.dashvoard_section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;

  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
  transform: scale(1.05);
  filter: gray saturate(0%) brightness(70%) contrast(1000%);
  /* slight overscale so blur reaches all edges */
}

.right_side {
  width: 30rem;
  float: right;
  position: relative;
  top: -50rem;
}

.left_side {
  /* background: rebeccapurple; */

  max-width: 60rem;
}
hr.new2 {
  border-top: 0px transparent rgb(44, 14, 75);
  visibility: hidden;
}
