<div class="sideBar">
  <div class="mainContent">
    <h1>Main Menut</h1>

    <div class="grid_wapper">
      <div class="grid_column">
        <a class="active" [routerLink]="'/productStatus'">Product Status</a>
      
       
      </div>
      <div class="grid_column">
     
        <a [routerLink]="'/add-product'">Add</a>
    
      </div>
      <div class="grid_column">
     
        <a [routerLink]="'/cart'">Admins</a>
    
      </div>
      <div class="grid_column">
     
        <a [routerLink]="'/signup'">Users</a>
      </div>
      <div class="grid_column">
     
        <a [routerLink]="'/update-productlist'">Update/Delete </a>
    
      </div>
    
      <div class="grid_column">
     
        <a [routerLink]="'/approval-list'">Approval List </a>
    
      </div>
    </div>
    <!-- <h1>Main Menu</h1>
    <div class="sidenav">
        <a class="active" [routerLink]="'/home'">Show Sales</a>
        <a  [routerLink]="'/products'">Add Products</a>
        <a  [routerLink]="'/cart'" >All Admins</a>
        <a  [routerLink]="'/signup'">All Users</a>
        <a  [routerLink]="'/signin'">SignIn</a>
       
        <a>Logout</a>
      </div> -->
  </div>
</div>
